<mat-toolbar class="custom-toolbar">
  <a
  routerLink="/"
  ><img width="150" src="assets/images/ESN.png" alt="Organization Logo" class="logo"></a>

  <!-- Links on the left -->
  <div *ngIf="!isMenuOpen" class="links">
    <button routerLink="/" mat-button>Home</button>
    <button routerLink="/events" mat-button>Events</button>
    <button routerLink="/partners" mat-button>Partners</button>
    <button routerLink="/card" mat-button>ESNcard</button>
    <button routerLink="/about" mat-button>About Us</button>
    <button routerLink="/students" mat-button>Students</button>
    <button routerLink="/blog" mat-button>Blog</button>
  </div>

  <span class="spacer"></span> <!-- Spacer to push content to the right -->

  <!-- Icons and login on the right -->
  <div class="icons-and-login">
    <button routerLink="/login" mat-button>Login</button>
    <button mat-icon-button><mat-icon>search</mat-icon></button>
    <button routerLink="/card" mat-icon-button><mat-icon>shopping_cart</mat-icon></button>
    <button mat-button class="menu-button" (mouseover)="onSidenavClick()" (click)="onSidenavClick()">
      <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container style="background:none" class="sidenav-container">
  <mat-sidenav #sidenav autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav"
               (click)="onSidenavClick()">
    <a routerLink="/" mat-button>Home</a>
    <a  routerLink="/events" mat-button>Events</a>
    <a  routerLink="/partners" mat-button>Partners</a>
    <a  routerLink="/card" mat-button>ESNcard</a>
    <a  routerLink="/about" mat-button>About Us</a>
    <a  routerLink="/students" mat-button>Students</a>
    <a  routerLink="/blog" mat-button>Blog</a>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
