<div class="cards">
  <div class="card content">
    <div class="card-content">
      <div class="card-img">
        <img src="https://uploads-ssl.webflow.com/5dfbb584147ea6e841fd61f9/5f1e9df6302cc11fdf9e6e2b_action-ball-beach-1320761-p-800.jpeg" alt="Gamer">
      </div>
      <div class="card-label">WeShre</div>
      <div class="card-title">
        We are currently outsourcing our digital event planner to a platform called <b>WeShre</b>.
      </div>
    </div>
  </div>
  <div class="card content">
    <div class="card-content">
      <div class="card-img">
        <img src="https://uploads-ssl.webflow.com/5dfbb584147ea6e841fd61f9/5fd0e9265027284463b480f0_Food-and-wine-brings-people-together-639001742_3867x2581-p-1080.jpeg" alt="keyboard">
      </div>
      <div class="card-title">
        Participate in all our events as a Thomas More <b>student</b>!
      </div>
    </div>
  </div>
  <div class="card content">
    <div class="card-content">
      <div class="card-img">
        <img src="https://uploads-ssl.webflow.com/5dfbb584147ea6e841fd61f9/5ff8e091a59e0a018950f783_pexels-andrea-piacquadio-3765113-p-1080.jpeg" alt="Controller">
      </div>
      <div class="card-title">
        It just takes a minute to set-up your profile. <b>Ready to go?</b>
      </div>
    </div>
  </div>
  <div (click)="redirectWeShre()" class="card form">
    <div class="form-title">Sign Up</div>
  </div>
</div>
