<footer class="black-footer">
  <div class="footer-content">
    <div class="logo">
      <img src="assets/images/ESN.png" alt="Logo">
    </div>
    <div class="address">
      <p> De Nayer - Jan De Nayerlaan 5,
        2860 Sint-Katelijne-Waver </p>
      <p> De Vest - Zandpoortvest 60,
        2800 Mechelen</p>
      <p> De Ham - Raghenoplein 21bis,
        2800 Mechelen</p>
      <p>
        Kruidtuin - Lange Ridderstraat 44,
        2800 Mechelen
      </p>
      <p>
        Lucas Faydherbe - Zandpoortvest 16,
        2800 Mechelen
      </p>
    </div>
    <div class="social-links">
      <a href="https://www.facebook.com/ESNMechelen/" class="social-link">Facebook</a>
      <a href="https://www.instagram.com/esn_mechelen/?hl=en" class="social-link">Instagram</a>
    </div>
  </div>
</footer>
