.icon-container {
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 1000; /* Adjust the z-index as needed */
  background-color: rgba(255, 255, 255, 0.8); /* Adjust the background color as needed */
}

.material-icon {
  font-size: 24px;
}
